body {
  background-color: #0e2439;
  background-repeat: no-repeat;
  background: cover;
  max-height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif; }

.textarea {
  width: 100%;
  margin: 0 auto; }
  .textarea textarea {
    padding-top: 60px;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    outline: 0;
    font-size: 1.9rem;
    resize: none; }
  .textarea textarea:focus {
    border: none; }

.toolbar {
  width: 60px;
  height: auto;
  background-color: #1f364d;
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: center; }
  .toolbar .toolbar__icons {
    margin-top: 20px; }
    .toolbar .toolbar__icons span {
      color: #fff;
      font-size: 2rem;
      cursor: pointer;
      display: block;
      margin-top: 10px; }
    .toolbar .toolbar__icons span:hover {
      color: #03a9f4; }
    .toolbar .toolbar__icons .toolbar__icons--add {
      margin-bottom: 15px; }
    .toolbar .toolbar__icons .toolbar__icons--notebook {
      margin-top: 0px;
      padding: 10px; }

.timerbox {
  display: none;
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: #1f364d;
  border: 1px solid #03a9f4;
  right: 100px;
  top: 20px;
  z-index: 10; }
  .timerbox .timerbox__numbers {
    position: absolute;
    top: 0;
    width: 100%;
    height: 35%;
    background-color: #03a9f4;
    text-align: center; }
    .timerbox .timerbox__numbers h3 {
      font-size: 3rem;
      display: inline-block;
      color: white;
      margin-top: 0.5rem;
      vertical-align: middle; }
  .timerbox .timerbox__start, .timerbox .timerbox__stop, .timerbox .timerbox__plusminus, .timerbox .timerbox__presets--25min, .timerbox .timerbox__presets--5min, .timerbox .timerbox__presets--1min {
    position: absolute;
    cursor: pointer;
    top: 35%;
    width: 100%;
    background-color: #0398db;
    height: 18%;
    color: white;
    text-align: center; }
    .timerbox .timerbox__start h3, .timerbox .timerbox__stop h3, .timerbox .timerbox__plusminus h3, .timerbox .timerbox__presets--25min h3, .timerbox .timerbox__presets--5min h3, .timerbox .timerbox__presets--1min h3 {
      margin-top: 14px;
      text-transform: uppercase;
      font-weight: 100; }
  .timerbox .timerbox__start:hover, .timerbox .timerbox__stop:hover, .timerbox .timerbox__plusminus:hover, .timerbox .timerbox__presets--25min:hover, .timerbox .timerbox__presets--5min:hover, .timerbox .timerbox__presets--1min:hover {
    background-color: #14b4fc; }
  .timerbox .timerbox__stop {
    top: 53%;
    background-color: #0286c2; }
  .timerbox .timerbox__plusminus {
    top: 71%;
    width: 50%;
    right: 0;
    background-color: #027cb3;
    -webkit-box-shadow: inset 1px 0px 0px 0px #0286c2;
    -moz-box-shadow: inset 1px 0px 0px 0px #0286c2;
    box-shadow: inset 1px 0px 0px 0px #0286c2; }
    .timerbox .timerbox__plusminus h2 {
      display: inline-block;
      margin-top: 12px;
      text-align: center; }
  .timerbox .timerbox__plusminus--left {
    left: 0;
    -webkit-box-shadow: inset -1px 0px 0px 0px #0286c2;
    -moz-box-shadow: inset -1px 0px 0px 0px #0286c2;
    box-shadow: inset -1px 0px 0px 0px #0286c2; }
  .timerbox .timerbox__presets--25min, .timerbox .timerbox__presets--5min, .timerbox .timerbox__presets--1min {
    height: 11%;
    bottom: 0;
    top: auto;
    width: 33.333%;
    background-color: #0286c2;
    -webkit-box-shadow: inset -1px 0px 0px 0px #0275a8;
    -moz-box-shadow: inset -1px 0px 0px 0px #0275a8;
    box-shadow: inset -1px 0px 0px 0px #0275a8; }
    .timerbox .timerbox__presets--25min h3, .timerbox .timerbox__presets--5min h3, .timerbox .timerbox__presets--1min h3 {
      font-size: 0.7rem;
      font-weight: lighter;
      margin-top: 11px; }
  .timerbox .timerbox__presets--5min {
    left: 33.333%; }
  .timerbox .timerbox__presets--1min {
    left: 66.666%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.tooltip {
  position: absolute;
  min-width: 70px;
  height: 20px;
  background-color: rgba(41, 41, 41, 0.7);
  text-align: center;
  color: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px;
  z-index: 1;
  font-size: 0.9rem;
  padding-left: 10px;
  padding-right: 10px; }

.notepad {
  display: none;
  width: 600px;
  height: 80%;
  background-color: #1f364d;
  border: 1px solid #1f364d;
  position: absolute;
  top: 20px;
  right: 100px; }
  .notepad .notepad__name, .notepad .notepad__textarea {
    height: 10%;
    width: 100%;
    margin-top: 5%; }
    .notepad .notepad__name input[type=text], .notepad .notepad__textarea input[type=text] {
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      display: block;
      max-width: 60%;
      text-align: center;
      font-size: 1.8rem;
      background-color: #26435f;
      outline: none;
      resize: none;
      border: 2px solid #03a9f4;
      color: white; }
  .notepad .notepad__textarea {
    height: 65%; }
    .notepad .notepad__textarea textarea {
      background-color: #26435f;
      outline: none;
      resize: none;
      border: none;
      color: white;
      padding: 30px;
      margin: 0 auto;
      display: block;
      width: 100%;
      font-size: 1rem;
      height: 100%; }
  .notepad button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    min-width: 80px;
    font-size: 0.85rem;
    background-color: #03a9f4;
    color: white;
    border: none;
    text-transform: uppercase;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 2px; }
  .notepad button:hover {
    background-color: #14b4fc;
    transition: 0.5s; }
  .notepad .notepad__deletebtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #03a9f4;
    font-size: 2rem;
    cursor: pointer; }
  .notepad .notepad__deletebtn:hover {
    color: #f44336;
    transition: 0.2s; }

.createnotepad {
  display: none;
  width: 300px;
  height: 150px;
  position: absolute;
  right: 100px;
  top: 20px;
  background-color: #1f364d; }
  .createnotepad .createnotepad__name {
    margin-top: 10%; }
    .createnotepad .createnotepad__name input {
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
      text-align: center;
      font-size: 1.8rem;
      background-color: #26435f;
      outline: none;
      resize: none;
      border: none;
      color: white; }
  .createnotepad button {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    background-color: #1f364d;
    border: 1px solid white;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    min-width: 90px;
    font-size: 0.8rem; }
  .createnotepad button:hover {
    background-color: #03a9f4;
    transition: 0.2s; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?54zl90");
  src: url("fonts/icomoon.eot?54zl90#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?54zl90") format("truetype"), url("fonts/icomoon.woff?54zl90") format("woff"), url("fonts/icomoon.svg?54zl90#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-stopwatch:before {
  content: "\e904"; }

.icon-add:before {
  content: "\e905"; }

.icon-event_note:before {
  content: "\e902"; }

.icon-delete:before {
  content: "\e901"; }
