@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?54zl90");
  src: url("fonts/icomoon.eot?54zl90#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?54zl90") format("truetype"), url("fonts/icomoon.woff?54zl90") format("woff"), url("fonts/icomoon.svg?54zl90#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-settings:before {
  content: "\e8b8"; }

.icon-stopwatch:before {
  content: "\e904"; }

.icon-add:before {
  content: "\e145"; }

.icon-control_point:before {
  content: "\e3ba"; }

.icon-event_note:before {
  content: "\e616"; }

.icon-pause:before {
  content: "\e034"; }

.icon-remove_circle_outline:before {
  content: "\e15d"; }

.icon-replay:before {
  content: "\e042"; }

.icon-play_arrow:before {
  content: "\e037"; }

.icon-delete:before {
  content: "\e872"; }

.icon-brightness_2:before {
  content: "\e3a7"; }

.icon-brightness_low:before {
  content: "\e1ad"; }

html, body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px; }

.container {
  background-color: #0e2439;
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
  padding-bottom: 1vh; }

.container--lighttheme {
  background-color: #fff;
  color: #1f364d; }
  .container--lighttheme .textarea textarea {
    color: #1f364d; }
  .container--lighttheme .toolbar {
    background-color: #ec407a; }
    .container--lighttheme .toolbar .toolbar__icons hr {
      border: solid 4px #facbdb;
      box-shadow: none;
      opacity: 0.2; }
  .container--lighttheme .notepad {
    background-color: #ec407a;
    color: #0e2439; }
    .container--lighttheme .notepad .notepad__textarea textarea {
      background-color: #f3fcfd;
      color: #0e2439; }
  .container--lighttheme .createnotepad {
    background-color: white; }
    .container--lighttheme .createnotepad .createnotepad__name input {
      background-color: #ec407a; }
    .container--lighttheme .createnotepad .createnotepad__name input:hover, .container--lighttheme .createnotepad .createnotepad__name input:focus {
      background-color: #ee5387; }
    .container--lighttheme .createnotepad .createnotepad__name input:focus + .underline {
      transform: scale(1);
      background-color: #03a9f4; }
    .container--lighttheme .createnotepad .createnotepad__name .underline {
      background-color: #60ccfd; }
    .container--lighttheme .createnotepad button {
      border-color: #ec407a;
      color: #ec407a;
      padding: 7px; }
    .container--lighttheme .createnotepad button:hover {
      background-color: #03a9f4;
      color: white;
      border-color: white; }
  .container--lighttheme .settings {
    color: #777777;
    background-color: white; }
    .container--lighttheme .settings .settings__header {
      box-shadow: none;
      color: white;
      background-color: #ec407a;
      border-color: #ec407a; }
    .container--lighttheme .settings .settings__theme h2 {
      color: #777777; }
    .container--lighttheme .settings .settings__theme span {
      color: #aaaaaa; }
    .container--lighttheme .settings .settings__theme .settings__theme--active {
      color: #ec407a; }
    .container--lighttheme .settings .settings__theme span:hover {
      color: #03a9f4; }
  .container--lighttheme .timerbox {
    background-color: white;
    border: none;
    color: #1f364d; }
    .container--lighttheme .timerbox .timerbox__backdisplay {
      background-color: #ec407a; }
    .container--lighttheme .timerbox span:hover {
      color: #03a9f4; }

.textarea {
  margin: 0 auto;
  width: 100%;
  height: 100%; }
  .textarea .textarea__wrapper {
    height: 100%;
    width: 900px;
    margin: 0 auto; }
  .textarea hr {
    border: 1px solid white;
    left: 0;
    margin-left: 20%;
    position: absolute;
    top: 90px;
    width: 60%; }

.toolbar {
  background-color: #1f364d;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: auto;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 20px;
  width: 60px; }
  .toolbar .toolbar__icons {
    margin-top: 10px;
    color: #fff; }
    .toolbar .toolbar__icons span {
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 2rem;
      margin-top: 10px;
      transition: 0.1s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .toolbar .toolbar__icons span:hover {
      color: #03a9f4; }
    .toolbar .toolbar__icons .toolbar__icons--add {
      margin-bottom: 15px;
      transition: 0.2s ease-in; }
    .toolbar .toolbar__icons .toolbar__icons--notebook {
      margin-top: 0px;
      padding: 10px;
      transition: 0.15s ease-in; }
      .toolbar .toolbar__icons .toolbar__icons--notebook:hover {
        transform: scale(1); }
    .toolbar .toolbar__icons .toolbar__icons--settings {
      margin-bottom: 11px; }
    .toolbar .toolbar__icons hr {
      border: solid 4px #0e2439;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 0 -2px 10px rgba(0, 0, 0, 0.2);
      margin-bottom: 15px; }

.timerbox {
  background-color: #1f364d;
  display: none;
  height: 280px;
  position: absolute;
  right: 100px;
  top: 20px;
  width: 200px;
  z-index: 10;
  color: white; }
  .timerbox .timerbox__backdisplay {
    background-color: #03a9f4;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1; }
  .timerbox .timerbox__numbers {
    height: 35%;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 100%; }
    .timerbox .timerbox__numbers h3 {
      display: inline-block;
      font-size: 3rem;
      line-height: 30%; }
  .timerbox .timerbox__start, .timerbox .timerbox__reset, .timerbox .timerbox__plusminus {
    cursor: pointer;
    left: 79px;
    position: absolute;
    top: 45%;
    transition: 0.2s ease-in;
    position: absolute;
    z-index: 3000; }
    .timerbox .timerbox__start span, .timerbox .timerbox__reset span, .timerbox .timerbox__plusminus span {
      font-size: 3rem;
      font-weight: 100;
      text-transform: uppercase; }
    .timerbox .timerbox__start span.icon-pause, .timerbox .timerbox__reset span.icon-pause, .timerbox .timerbox__plusminus span.icon-pause {
      display: none; }
  .timerbox .timerbox__start:hover, .timerbox .timerbox__reset:hover, .timerbox .timerbox__plusminus:hover {
    color: #ec407a; }
  .timerbox .timerbox__reset, .timerbox .timerbox__plusminus {
    left: 85px;
    top: 70%; }
    .timerbox .timerbox__reset span, .timerbox .timerbox__plusminus span {
      font-size: 2.2rem; }
  .timerbox .timerbox__plusminus {
    left: auto;
    right: 10%; }
    .timerbox .timerbox__plusminus h2 {
      display: inline-block;
      margin-top: 18px;
      text-align: center; }
  .timerbox .timerbox__plusminus--left {
    left: 10%;
    right: auto; }

.tooltip {
  background-color: rgba(41, 41, 41, 0.7);
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  height: 20px;
  line-height: 20px;
  min-width: 70px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  text-align: center;
  z-index: 1; }

.notepad {
  background-color: #03a9f4;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: none;
  height: 600px;
  position: absolute;
  right: 100px;
  top: 20px; }
  .notepad .notepad__name, .notepad .notepad__textarea {
    height: 75px;
    top: 0; }
    .notepad .notepad__name input[type=text], .notepad .notepad__textarea input[type=text] {
      background-color: transparent;
      border: 0;
      color: white;
      display: block;
      font-size: 1.8rem;
      margin: 0 auto;
      max-width: 100%;
      outline: none;
      padding-top: 20px;
      padding-bottom: 50px;
      resize: none;
      text-align: center; }
  .notepad .notepad__textarea {
    height: 525px;
    width: 500px; }
  .notepad button {
    background-color: #03a9f4;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 0.85rem;
    margin: 0 auto;
    margin-top: 25px;
    min-width: 80px;
    padding: 10px;
    text-transform: uppercase; }
  .notepad button:hover {
    background-color: #14b4fc;
    transition: 0.5s; }
  .notepad .notepad__deletebtn {
    top: 22px;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 23px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: 0.15s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .notepad .notepad__deletebtn:hover {
    animation: rotatedelete infinite 0.7s ease-in-out;
    top: 10px;
    right: 20px;
    color: white;
    transition: 0.3s;
    background: #03a9f4;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-right: 3px; }

iframe {
  border: none;
  width: 100%;
  height: 100%; }

.noteEditorBody {
  color: white;
  margin: 0;
  background-color: #2e4f71;
  border: none;
  color: white;
  display: block;
  font-size: 1rem;
  height: 100%;
  margin: 0 auto;
  outline: none;
  padding: 30px;
  resize: none;
  max-width: 90%; }

.noteEditorBody--lighttheme {
  background-color: #f3fcfd;
  color: #0e2439; }

@keyframes rotatedelete {
  0% {
    transform: rotate(6deg); }

  50% {
    transform: rotate(-6deg); }

  100% {
    transform: rotate(6deg); } }
.createnotepad {
  background-color: #1f364d;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: none;
  height: 130px;
  position: absolute;
  right: 100px;
  top: 20px;
  width: 300px; }
  .createnotepad .createnotepad__name input {
    background-color: #03a9f4;
    border: none;
    color: white;
    font-size: 1.8rem;
    outline: none;
    padding-bottom: 11px;
    padding-top: 10px;
    resize: none;
    text-align: center;
    width: 298px;
    z-index: 10;
    transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .createnotepad .createnotepad__name ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d8d8d8; }
  .createnotepad .createnotepad__name ::-moz-placeholder {
    /* Firefox 19+ */
    color: #d8d8d8; }
  .createnotepad .createnotepad__name :-ms-input-placeholder {
    /* IE 10+ */
    color: #d8d8d8; }
  .createnotepad .createnotepad__name :-moz-placeholder {
    /* Firefox 18- */
    color: #d8d8d8; }
  .createnotepad .createnotepad__name input:focus + .underline {
    transform: scale(1);
    background-color: #ec407a; }
  .createnotepad .createnotepad__name input:hover, .createnotepad .createnotepad__name input:focus {
    background-color: #05affc; }
  .createnotepad .createnotepad__name .underline {
    background-color: #facbdb;
    z-index: 1;
    display: inline-block;
    height: 3px;
    margin-top: -4px;
    position: absolute;
    top: 58px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 300px; }
  .createnotepad button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 0.8rem;
    margin: 0 auto;
    margin-top: 22px;
    min-width: 90px;
    padding: 5px;
    text-transform: uppercase;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .createnotepad button:hover {
    background-color: #ec407a;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: translate(0px, -1px); }

.settings {
  background: #1f364d;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: none;
  height: 300px;
  position: absolute;
  right: 100px;
  top: 20px;
  width: 250px;
  color: white; }
  .settings .settings__header {
    background-color: #03a9f4;
    border-bottom: 2px solid #03a9f4;
    height: 50px;
    margin-top: 0;
    width: 100%; }
    .settings .settings__header h1 {
      font-weight: lighter;
      letter-spacing: 0.05rem;
      margin-top: 0;
      padding-top: 12px;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5rem; }
  .settings .settings__theme {
    color: white;
    padding-top: 10px;
    text-align: center; }
    .settings .settings__theme h2 {
      padding-bottom: 0px;
      font-size: 1.2rem;
      margin-bottom: 10px; }
    .settings .settings__theme span {
      cursor: pointer;
      font-size: 2rem;
      margin-left: 15px;
      margin-right: 15px; }
    .settings .settings__theme span:hover {
      color: #03a9f4; }
    .settings .settings__theme .settings__theme--active {
      color: #ec407a; }
  .settings .settings__image {
    margin-top: 20px;
    text-align: center;
    /* The slider */ }
    .settings .settings__image h2 {
      font-size: 1.2rem;
      margin-bottom: 0; }
    .settings .settings__image p {
      margin-top: 2px;
      font-size: 0.8rem;
      color: #777777; }
    .settings .settings__image .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 16px; }
      .settings .settings__image .switch input {
        display: none; }
    .settings .settings__image .slider {
      border-radius: 34px;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #686868;
      -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .settings .settings__image .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 0px;
        bottom: -2px;
        background-color: #bdbdbd;
        -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 50%; }
    .settings .settings__image .slider:hover:before {
      background-color: #d7d7d7; }
    .settings .settings__image input:checked + .slider:hover:before {
      background-color: #f59dbb; }
    .settings .settings__image input:checked + .slider {
      background-color: #b41249; }
    .settings .settings__image input:focus + .slider {
      box-shadow: 0 0 1px #b41249; }
    .settings .settings__image input:checked + .slider:before {
      background-color: #ec407a;
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px); }

.textEditorBody {
  color: white;
  min-height: 100%;
  font-size: 22px;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  padding-top: 10vh; }
  .textEditorBody h1 {
    font-size: 1.8em; }
  .textEditorBody h2 {
    font-size: 1.4em; }

.lighttheme {
  color: #1f364d; }

#texteditor {
  width: 100%;
  height: 100%; }

#text {
  color: white;
  border-radius: 20px;
  display: none; }

.bookmarks {
  position: absolute;
  top: 50px;
  position: absolute;
  left: 20px;
  width: 60px;
  font-weight: lighter; }
  .bookmarks .bookmark-placeholder {
    width: 40px;
    height: 40px;
    background-color: #03a9f4;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    color: white;
    transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-transform: uppercase; }
    .bookmarks .bookmark-placeholder:hover {
      transform: translate(0px, -1px); }
    .bookmarks .bookmark-placeholder a {
      text-decoration: none; }
  .bookmarks button {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    background-color: #26435f;
    position: relative;
    transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 5px; }
    .bookmarks button:focus {
      outline: none; }
    .bookmarks button span {
      position: absolute;
      top: 8px;
      left: 10px;
      font-size: 1.3rem;
      color: white; }
    .bookmarks button:hover {
      box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.22); }
      .bookmarks button:hover span {
        color: #03a9f4; }
  .bookmarks a {
    display: block;
    text-decoration: none;
    background-color: transparent; }
    .bookmarks a img {
      transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
      border-radius: 100%;
      margin-bottom: 2px;
      margin-top: 2px; }
    .bookmarks a:hover img {
      transform: translate(0px, -1px); }
  .bookmarks:hover button {
    opacity: 1; }

.createbookmark {
  width: 300px;
  background-color: #1f364d;
  position: absolute;
  top: 20px;
  left: 100px;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: none; }
  .createbookmark h2 {
    text-align: center;
    background-color: #03a9f4;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.05rem;
    font-size: 1.5rem; }
  .createbookmark .createbookmark__list .item {
    display: block;
    margin: 0 auto;
    width: 90%;
    background-color: #26435f;
    height: 40px;
    border-radius: 4px;
    position: relative;
    transition: 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, 0.32); }
    .createbookmark .createbookmark__list .item h3 {
      font-size: 1rem;
      line-height: 40px;
      text-align: center;
      margin: 0;
      color: white;
      font-weight: lighter; }
    .createbookmark .createbookmark__list .item span {
      position: absolute;
      right: 7px;
      top: 10px;
      font-size: 1.2rem;
      cursor: pointer;
      opacity: 0;
      transition: 0.35s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .createbookmark .createbookmark__list .item span:hover {
        color: #ec407a; }
    .createbookmark .createbookmark__list .item:hover {
      transform: translate(0px, -1px);
      box-shadow: 0 10px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.12);
      background-color: #2b4a6a;
      border: 1px solid rgba(0, 0, 0, 0.42); }
      .createbookmark .createbookmark__list .item:hover span {
        opacity: 1; }
  .createbookmark .createbookmark__create {
    width: 100%;
    position: relative;
    height: 50px; }
    .createbookmark .createbookmark__create .createbookmark__button {
      border: 0;
      background-color: #03a9f4;
      padding: 5px;
      color: white;
      border-radius: 999em;
      width: 45px;
      height: 45px;
      transition: 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.12);
      line-height: 1;
      font-size: 30px;
      position: relative;
      cursor: pointer;
      margin-bottom: 10px;
      float: right;
      margin-right: 10px;
      margin-top: 5px; }
      .createbookmark .createbookmark__create .createbookmark__button:focus {
        outline: 0; }
      .createbookmark .createbookmark__create .createbookmark__button:hover {
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.45), 5px 5px 10px rgba(0, 0, 0, 0.22); }
    .createbookmark .createbookmark__create input {
      width: 65%;
      margin-top: 10px;
      font-size: 1.1rem;
      background-color: #355c84;
      border: none;
      padding: 6px;
      color: white;
      text-align: center;
      display: none;
      position: absolute;
      left: 18px;
      border: 2px solid #03a9f4;
      transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: border-color 0.7s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .createbookmark .createbookmark__create input:focus {
        border-color: #ec407a;
        outline: none; }
    .createbookmark .createbookmark__create ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #b2b2b2; }
    .createbookmark .createbookmark__create ::-moz-placeholder {
      /* Firefox 19+ */
      color: #b2b2b2; }
    .createbookmark .createbookmark__create :-ms-input-placeholder {
      /* IE 10+ */
      color: #b2b2b2; }
    .createbookmark .createbookmark__create :-moz-placeholder {
      /* Firefox 18- */
      color: #b2b2b2; }
