@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?54zl90");
  src: url("fonts/icomoon.eot?54zl90#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?54zl90") format("truetype"), url("fonts/icomoon.woff?54zl90") format("woff"), url("fonts/icomoon.svg?54zl90#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-settings:before {
  content: "\e8b8"; }

.icon-stopwatch:before {
  content: "\e904"; }

.icon-add:before {
  content: "\e145"; }

.icon-control_point:before {
  content: "\e3ba"; }

.icon-event_note:before {
  content: "\e616"; }

.icon-pause:before {
  content: "\e034"; }

.icon-remove_circle_outline:before {
  content: "\e15d"; }

.icon-replay:before {
  content: "\e042"; }

.icon-play_arrow:before {
  content: "\e037"; }

.icon-delete:before {
  content: "\e872"; }

.icon-brightness_2:before {
  content: "\e3a7"; }

.icon-brightness_low:before {
  content: "\e1ad"; }

html, body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%; }

.container {
  background-color: #0e2439;
  height: 100%; }

.container--lighttheme {
  background-color: #fff;
  color: #1f364d; }
  .container--lighttheme .textarea textarea {
    color: #1f364d; }
  .container--lighttheme .toolbar {
    background-color: #ec407a; }
  .container--lighttheme .notepad {
    background-color: white;
    color: #0e2439; }
    .container--lighttheme .notepad .notepad__name input[type="text"], .container--lighttheme .notepad .notepad__textarea input[type="text"] {
      color: #0e2439; }
    .container--lighttheme .notepad .notepad__textarea textarea {
      background-color: #def6f9;
      color: #0e2439; }
  .container--lighttheme .createnotepad {
    background-color: #b2ebf2; }
    .container--lighttheme .createnotepad .createnotepad__name input {
      background-color: #86e0eb; }
  .container--lighttheme .settings {
    background-color: #71dae7; }
    .container--lighttheme .settings .settings__header {
      background-color: #9ce5ee; }

.textarea {
  margin: 0 auto;
  width: 100%;
  height: 100%; }
  .textarea .textarea__wrapper {
    height: 100%;
    overflow: scroll; }
  .textarea textarea {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 31px;
    height: 100%;
    outline: 0px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 60px;
    resize: none;
    width: 900px; }
  .textarea textarea:focus {
    border: none; }
  .textarea hr {
    border: 1px solid white;
    left: 0;
    margin-left: 20%;
    position: absolute;
    top: 90px;
    width: 60%; }

.toolbar {
  background-color: #1f364d;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: auto;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 20px;
  width: 60px; }
  .toolbar .toolbar__icons {
    margin-top: 10px; }
    .toolbar .toolbar__icons span {
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 2rem;
      margin-top: 10px; }
    .toolbar .toolbar__icons span:hover {
      color: #03a9f4; }
    .toolbar .toolbar__icons .toolbar__icons--add {
      margin-bottom: 15px;
      transition: 0.2s ease-in; }
    .toolbar .toolbar__icons .toolbar__icons--add:hover {
      transform: scale(1.3); }
    .toolbar .toolbar__icons .toolbar__icons--notebook {
      margin-top: 0px;
      padding: 10px;
      transition: 0.15s ease-in; }
    .toolbar .toolbar__icons .toolbar__icons--settings {
      margin-bottom: 11px; }
    .toolbar .toolbar__icons .toolbar__icons--settings:hover {
      transform: rotate(360deg);
      transition: 0.4s ease-in-out; }
    .toolbar .toolbar__icons hr {
      border: solid 4px #0e2439;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 0 -2px 10px rgba(0, 0, 0, 0.2);
      margin-bottom: 15px; }
    .toolbar .toolbar__icons .toolbar__icons--timer:hover {
      animation: rotatedelete 0.15s ease-in-out;
      animation-iteration-count: 3; }

@keyframes tomato {
  0% {
    stroke-width: 2px; }

  50% {
    stroke-width: 15px; }

  100% {
    stroke-width: 2px; } }
.timerbox {
  background-color: #1f364d;
  border: 1px solid #03a9f4;
  display: none;
  height: 280px;
  position: absolute;
  right: 100px;
  top: 20px;
  width: 200px;
  z-index: 10; }
  .timerbox .timerbox__backdisplay {
    background-color: #03a9f4;
    height: 100%;
    position: absolute;
    width: 100%; }
  .timerbox .timerbox__numbers {
    height: 35%;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 100%; }
    .timerbox .timerbox__numbers h3 {
      color: white;
      display: inline-block;
      font-size: 3rem;
      line-height: 30%; }
  .timerbox .timerbox__start, .timerbox .timerbox__reset, .timerbox .timerbox__plusminus {
    color: white;
    cursor: pointer;
    left: 79px;
    position: absolute;
    top: 45%;
    transition: 0.2s ease-in; }
    .timerbox .timerbox__start span, .timerbox .timerbox__reset span, .timerbox .timerbox__plusminus span {
      font-size: 3rem;
      font-weight: 100;
      text-transform: uppercase; }
    .timerbox .timerbox__start span.icon-pause, .timerbox .timerbox__reset span.icon-pause, .timerbox .timerbox__plusminus span.icon-pause {
      display: none; }
  .timerbox .timerbox__start:hover, .timerbox .timerbox__reset:hover, .timerbox .timerbox__plusminus:hover {
    color: #ec407a; }
  .timerbox .timerbox__reset, .timerbox .timerbox__plusminus {
    left: 85px;
    top: 70%; }
    .timerbox .timerbox__reset span, .timerbox .timerbox__plusminus span {
      font-size: 2.2rem; }
  .timerbox .timerbox__plusminus {
    left: auto;
    right: 10%; }
    .timerbox .timerbox__plusminus h2 {
      display: inline-block;
      margin-top: 18px;
      text-align: center; }
  .timerbox .timerbox__plusminus--left {
    left: 10%;
    right: auto; }

.tooltip {
  background-color: rgba(41, 41, 41, 0.7);
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  height: 20px;
  line-height: 20px;
  min-width: 70px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  text-align: center;
  z-index: 1; }

.notepad {
  background-color: #1f364d;
  border: 1px solid #1f364d;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: none;
  height: 600px;
  position: absolute;
  right: 100px;
  top: 20px; }
  .notepad .notepad__name, .notepad .notepad__textarea {
    height: 50px;
    margin-top: 10px; }
    .notepad .notepad__name input[type=text], .notepad .notepad__textarea input[type=text] {
      background-color: transparent;
      border: 0;
      color: white;
      display: block;
      font-size: 1.8rem;
      margin: 0 auto;
      max-width: 100%;
      outline: none;
      padding-bottom: 5px;
      padding-top: 5px;
      resize: none;
      text-align: center; }
  .notepad .notepad__textarea {
    border-bottom: 2px solid #03a9f4;
    border-top: 2px solid #03a9f4;
    box-shadow: 0 -7px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: 480px; }
    .notepad .notepad__textarea textarea {
      background-color: #2e4f71;
      border: none;
      color: white;
      display: block;
      font-size: 1rem;
      height: 100%;
      margin: 0 auto;
      outline: none;
      padding: 30px;
      resize: none;
      width: 500px; }
  .notepad button {
    background-color: #03a9f4;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 0.85rem;
    margin: 0 auto;
    margin-top: 25px;
    min-width: 80px;
    padding: 10px;
    text-transform: uppercase; }
  .notepad button:hover {
    background-color: #14b4fc;
    transition: 0.5s; }
  .notepad .notepad__deletebtn {
    bottom: 7px;
    color: #98abd1;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 10px; }
  .notepad .notepad__deletebtn:hover {
    animation: rotatedelete infinite 0.7s ease-in-out;
    color: #f44336;
    transition: 0.3s; }

@keyframes rotatedelete {
  0% {
    transform: rotate(6deg); }

  50% {
    transform: rotate(-6deg); }

  100% {
    transform: rotate(6deg); } }
.createnotepad {
  background-color: #1f364d;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: none;
  height: 150px;
  position: absolute;
  right: 100px;
  top: 20px;
  width: 300px; }
  .createnotepad .createnotepad__name {
    margin-top: 10%; }
    .createnotepad .createnotepad__name input {
      background-color: #26435f;
      border: none;
      border-bottom: 1px solid rgba(50, 182, 230, 0.5);
      border-top: 1px solid rgba(50, 182, 230, 0.5);
      color: white;
      font-size: 1.8rem;
      outline: none;
      padding-bottom: 5px;
      padding-top: 5px;
      resize: none;
      text-align: center;
      width: 298px; }
  .createnotepad button {
    background-color: #03a9f4;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 0.8rem;
    margin: 0 auto;
    margin-top: 30px;
    min-width: 90px;
    padding: 5px;
    text-transform: uppercase;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .createnotepad button:hover {
    background-color: #0ab1fc;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: translate(0px, -2px); }

.settings {
  background: #1f364d;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: none;
  height: 300px;
  position: absolute;
  right: 100px;
  top: 20px;
  width: 250px; }
  .settings .settings__header {
    background: #2e4f71;
    border-bottom: 2px solid #03a9f4;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: 50px;
    margin-top: 0;
    width: 100%; }
    .settings .settings__header h1 {
      color: white;
      font-weight: lighter;
      letter-spacing: 0.05rem;
      margin-top: 0;
      padding-top: 12px;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5rem; }
  .settings .settings__theme {
    color: white;
    padding-top: 10px;
    text-align: center; }
    .settings .settings__theme h2 {
      padding-bottom: 0px;
      font-size: 1.2rem; }
    .settings .settings__theme span {
      cursor: pointer;
      font-size: 2rem;
      margin-left: 20px;
      margin-right: 20px;
      padding: 3px; }
    .settings .settings__theme .settings__theme--light:hover {
      color: #FFEB3B; }
    .settings .settings__theme .settings__theme--dark:hover {
      color: #3F51B5; }
    .settings .settings__theme .settings__theme--active {
      color: #ec407a; }
