$backgroundColor: #0e2439;
$toolbarColor: #1f364d;
$headerText: #fff;
$bodyText: #fff;
$accentColor: #03A9F4;
$accent2: #EC407A;
$tooltipColor: rgba(41, 41, 41, 0.7);

//light theme :
$lightToolbar: #B2EBF2;

@import "mixins";
@import "fonts";
html{
  font-size: 16px;
}
body{
  // overflow: hidden;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;

}
.container{
  background-color: $backgroundColor;
}
.container--lighttheme{
  background-color: #fff;
  color: $toolbarColor;
  .textarea{
    textarea{
      color: $toolbarColor;
    }
  }
  .toolbar{
    background-color: $accent2;
  }
  .notepad{
    background-color: white;
    color: $backgroundColor;
    .notepad__name{
      input[type="text"]{
        color: $backgroundColor;
      }
    }
    .notepad__textarea{
      textarea{
        color: $backgroundColor;
        background-color: lighten($lightToolbar,10%);

      }
    }
  }
  .createnotepad{
    background-color: $lightToolbar;
    .createnotepad__name{
      input{
        background-color: darken($lightToolbar,10%);
      }
    }
  }
  .settings{
    background-color: darken($lightToolbar,15%);
    .settings__header{
      background-color: darken($lightToolbar,5%);
    }
  }
}
.textarea{
  width: 100%;
  margin: 0 auto;
  textarea{
    padding-top: 60px;
    padding-left: 20%;
    padding-right: 20%;
    color: $bodyText;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    outline:0;
    font-size: 1.9rem;
    resize: none;
  }
  textarea:focus{
    border: none;
  }
  hr{
    position: absolute;
    top: 90px;
    left: 0;
    border: 1px solid white;
    margin-left: 20%;
    width: 60%;
  }
}


.toolbar{
  box-shadow: 0 10px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.22);
  width: 60px;
  height: auto;
  background-color: $toolbarColor;
  position: absolute;
  right: 20px;
  top:20px;
  text-align: center;
  .toolbar__icons{
    margin-top: 10px;
    span{
      color: #fff;
      font-size: 2rem;
      cursor: pointer;
      display: block;
      margin-top: 10px;
    }
    span:hover{
      color: $accentColor;
    }
    .toolbar__icons--add{
      margin-bottom: 15px;
      transition: 0.2s ease-in;
    }
    .toolbar__icons--add:hover{
      transform: scale(1.3);

    }
    .toolbar__icons--notebook{
      margin-top: 0px;
      padding: 10px;
      transition: 0.15s ease-in;
    }
    .toolbar__icons--notebook:hover{
    }
    .toolbar__icons--settings{
      margin-bottom: 11px;
    }
    .toolbar__icons--settings:hover{
      transition: 0.4s ease-in-out;
      transform: rotate(360deg);
    }

    hr{

      margin-bottom: 15px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.2), 0 -2px 10px rgba(0,0,0,0.2);
      border: solid 4px $backgroundColor;
    }

    .toolbar__icons--timer:hover{
      animation: rotatedelete 0.15s ease-in-out;
      animation-iteration-count: 3;
    }


  }
}
@keyframes tomato {
  0%{stroke-width:2px;}
  50%{stroke-width:15px;}
  100%{stroke-width:2px;}
}

.timerbox{
  display: none;
  position: absolute;
  width: 200px;
  height: 280px;
  background-color: $toolbarColor;
  border: 1px solid $accentColor;
  right: 100px;
  top: 20px;
  z-index: 10;
  .timerbox__backdisplay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $accentColor;
  }
  .timerbox__numbers{
    position: absolute;
    top: 15px;
    width: 100%;
    height: 35%;
    text-align: center;
    h3{
      font-size: 3rem;
      display: inline-block;
      color: white;
      // top: 100%;
      line-height: 30%;

    }
  }
  .timerbox__start{
    position: absolute;
    cursor: pointer;
    top: 45%;
    color: white;
    left: 79px;
    transition: 0.2s ease-in;

    span{
      text-transform: uppercase;
      font-weight: 100;
      font-size: 3rem;
    }
    span.icon-pause{
      display: none;
    }
  }
  .timerbox__start:hover{
    color: $accent2;
    // transform: translate(0px, -1px);
  }
  .timerbox__reset{
    @extend .timerbox__start;
    top: 70%;
    left: 85px;
    span{
      font-size: 2.2rem;
    }
  }
  .timerbox__plusminus{
    @extend .timerbox__reset;
    right:10%;
    left: auto;
    h2{
      display: inline-block;
      margin-top: 18px;
      text-align: center;
    }
  }
  .timerbox__plusminus--left{
    right: auto;
    left: 10%;
  }

}
.tooltip{
  position: absolute;
  min-width: 70px;
  height: 20px;
  background-color: $tooltipColor;
  text-align: center;
  color: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px;
  z-index: 1;
  font-size: 0.9rem;
  padding-left: 10px;
  padding-right: 10px;
}

.notepad{
  display: none;
  width: 500px;
  height: 600px;
  background-color: $toolbarColor;
  // @include linearGradient(darken($accentColor,10%),darken($accentColor,20%));
  border: 1px solid $toolbarColor;
  position: absolute;
  top: 20px;
  right: 100px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  .notepad__name{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    input[type=text]{
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      display: block;
      max-width: 60%;
      text-align: center;
      font-size: 1.8rem;
      // background-color: lighten($toolbarColor,5%);
      background-color: transparent;
      outline: none;
      resize: none;
      border: 0;
      color: white;
    }
  }
  .notepad__textarea{
    @extend .notepad__name;
    height: 480px;
    border-top: 2px solid $accentColor;
    border-bottom: 2px solid $accentColor;
    box-shadow: 0 -7px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    textarea{
      background-color: lighten($toolbarColor,10%);
      outline: none;
      resize: none;
      border: none;
      color: white;
      padding:30px;
      margin: 0 auto;
      display: block;
      width: 100%;
      font-size: 1rem;
      height: 100%;
    }
  }
  button{
    display: block;
    margin: 0 auto;
    padding: 10px;
    min-width: 80px;
    font-size: 0.85rem;
    background-color: $accentColor;
    color: white;
    border: none;
    text-transform: uppercase;
    margin-top: 25px;;
    cursor: pointer;
    border-radius: 2px;
  }
  button:hover{
    background-color: lighten($accentColor,5%);
    transition: 0.5s;
  }
  .notepad__deletebtn{
    position: absolute;
    right: 10px;
    bottom: 7px;
    color: #98abd1;
    font-size: 2rem;
    cursor: pointer;
  }
  .notepad__deletebtn:hover{
    color: #f44336;
    transition: 0.3s;
    animation: rotatedelete infinite 0.7s ease-in-out;
  }
}
@keyframes rotatedelete {
  0%{transform: rotate(6deg)}
  50%{transform: rotate(-6deg)}
  100%{transform: rotate(6deg)}
}
.createnotepad{
  display: none;
  width: 300px;
  height: 150px;
  position: absolute;
  right: 100px;
  top: 20px;
  background-color: $toolbarColor;
  box-shadow: 0 10px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.22);
  // border: 1px solid rgba(0, 0, 0, 0.5);
  .createnotepad__name{
    margin-top: 10%;;

    input{
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
      text-align: center;
      font-size: 1.8rem;
      background-color: lighten($toolbarColor,5%);
      border: none;
      border-bottom: 1px solid rgba(50, 182, 230, 0.5);
      border-top: 1px solid rgba(50, 182, 230, 0.5);
      outline: none;
      resize: none;
      color: white;
    }
  }

    button{
      margin: 0 auto;
      display: block;
      margin-top: 30px;
      border: 1px solid white;
      background-color: $accentColor;
      padding: 5px;
      color:white;
      text-transform: uppercase;
      min-width: 90px;
      font-size: 0.8rem;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    button:hover{
      box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      transform: translate(0px,-2px);
      background-color: lighten($accentColor,3%);

    }

}


.settings{
  display: none;
  width: 250px;
  height: 300px;
  background: $toolbarColor;
  position: absolute;
  top: 20px;
  right: 100px;
  box-shadow: 0 10px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.22);
  .settings__header{
    width: 100%;
    height: 50px;
    background: lighten($toolbarColor,10%);
    margin-top: 0;
    border-bottom: 2px solid $accentColor;
    box-shadow: 0 10px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.22);
    h1{
      text-transform: uppercase;
      color: white;
      text-align: center;
      margin-top: 0;
      padding-top: 12px;
      font-weight: lighter;
      letter-spacing: 0.05rem;
    }
  }

  .settings__theme{
    padding-top: 10px;
    color: white;
    text-align: center;
    h2{
      padding-bottom: 0px;
    }
    span{
      font-size: 2rem;
      padding: 3px;
      cursor: pointer;
      margin-right: 20px;
      margin-left: 20px;
    }
    .settings__theme--light:hover{
      color: #FFEB3B;
    }
    .settings__theme--dark:hover{
      color: #3F51B5;
    }
    .settings__theme--active{
      color: $accent2;
    }


  }
}
